__pycache__/
/app/.env
venv
/testes
Pipfile*
.env
verifica_xp_candidato.py
xxx.py
.env
Edicao_itens.pptx
mascara_cpf_cnpj.txt
service\__pycache__\candidato.cpython-39.pyc
service\__pycache__\tratar_dados.cpython-39.pyc
tratar_dados.cpython-39.pyc
service\__pycache__