{% extends "template.html" %}
{% block conteudo %}
    <div class="conteudo">
        <h2 class="titulo_destino">Escolha um destino</h2>

        <div class="retangulo_1">
            <img id="imagens-produtos" class="figura_retangulo_1" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_1" src="static\imagens\itens_bebidas.png">
        </div>

        <div class="retangulo_2">
            <img id="imagens-produtos" class="figura_retangulo_2" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_2" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_2" src="static\imagens\itens_bebidas.png">
        </div>

        <h2 class="titulo_destino">Procure por tipo</h2>
        <div class="retangulo_3">
            <img id="imagens-produtos" class="figura_retangulo_3" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_3" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_3" src="static\imagens\itens_bebidas.png">
            <img id="imagens-produtos" class="figura_retangulo_3" src="static\imagens\itens_bebidas.png">
        </div>

    </div>


    <!-- <ul class="produtos">
        <li>
            <h2 class="titulo-produtos">Higiene Pessoal</h2>
            <a href="/produtos-higiene-pessoal">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_higiene.png">
            </a>
        </li>
        <li>
            <h2 class="titulo-produtos">Bebidas</h2>
            <a href="/produtos-bebidas">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_bebidas.png">
            </a>
        </li>
        <li>
            <h2 class="titulo-produtos">Petiscos</h2>
            <a href="/produtos-petiscos">
                <img id="imagens-produtos" class="btn head_button" src="static\imagens\itens_petiscos.png">
            </a>
        </li>
    </ul> -->
{% endblock %}